body {
	color: #404040;
	font-size: 14pt;
	font-family: Georgia, Garamond;
}

 h2{
	color: #800000;
	text-decoration: underline;
	background-color: #EEE8AA;
	font-size: 18pt;
	font-family: Lucida Sans Unicode, Arial;
}
}